:root {
    --main-color: #3065EF;
    --black: #010223;
    --green: #71C046;
    --grey: #E3E3E3;
    --dark-grey: #808191;
    --opa-2: #D2D2D2;
    --black-foot: #282828;
    --grey-border: #d5d5d5;
    --grey-fill: #f5f5f5;
}

/* Content */

.product-price .price-title {
    padding: 0 20px 20px 20px;
    margin-top: 50px;
    border-bottom: 1px solid var(--grey-border);
}

.product-price .price-title .price-left .mini-title {
    margin-top: 10px;
}

.product-price .price-title .price-left .mini-title .title-brand {
    padding-right: 15px;
    border-right: 1px solid var(--grey-border);
}

.product-price .price-title .price-left .mini-title .title-rating {
    padding: 0 15px;
    border-right: 1px solid var(--grey-border);
}

.product-price .price-title .price-left .mini-title .title-rating p {
    margin-left: 7px;
}

.product-price .price-title .price-left .mini-title .title-kode {
    padding-left: 15px;
}

.product-price .price-title .price-right p {
    margin-right: 10px;
}

.product-price .price-title .price-right .placeholder-grey {
    background: var(--grey-fill);
    height: 37px;
    width: 59px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid var(--grey-border);
}


.product-price .price-detail {
    padding: 50px 20px;
    border-bottom: 1px solid var(--grey-border);
}

.product-price .price-detail .price-detail-left {
    border-right: 1px solid var(--grey-border);
}

.product-price .price-detail .price-detail-image div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 25px;
}

.product-price .price-detail .price-detail-left .price-harga {
    padding: 0 25px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-1 {
    padding: 0 20px 15px 20px;
    border-bottom: 1px solid var(--grey-border);
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-1 .counters {
    margin-left: 23px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-1 .kondisi {
    margin-top: 12px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-1 .kondisi p:first-child {
    padding-right: 15px;
    border-right: 1px solid var(--grey-border);
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-1 .kondisi p:nth-child(2) {
    padding-left: 15px;
}


.product-price .price-detail .price-detail-left .price-harga .price-harga-2 {
    padding: 0 25px;
    margin-top: 30px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-2 .input-button {
    margin-top: 30px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-2 .input-button .main-btn-beli {
    margin-right: 7.5px;
    padding: 18px 0;
    background: none;
    border: 1.5px solid var(--green);
    color: var(--green);
    font-weight: 700;
    border-radius: 3px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-2 .input-button .secondary-btn-beli {
    margin-left: 7.5px;
    padding: 18px 0;
    background: var(--green);
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-2 .security {
    margin-top: 26px;
}

.product-price .price-detail .price-detail-left .price-harga .price-harga-2 .security p {
    margin-left: 10px;
}

.input-quantity {
    border: 1px solid #BFC0C8;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 15px;
}

.input-quantity h1:nth-child(2) {
    cursor: pointer;
    padding: 4px 34px;
}

.input-quantity h1:nth-child(1) {
    padding: 4px 16px;
    border-right: 1px solid #BFC0C8;
    background: var(--grey-fill);
    color: var(--green);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-quantity h1:nth-child(3) {
    padding: 4px 16px;
    border-left: 1px solid #BFC0C8;
    background: var(--grey-fill);
    color: var(--green);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-catatan {
    margin-right: 30px;
}

.form-input input {
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--grey-border);
    width: 100%;
    padding: 15px 15px;
    background-color: white !important;
}

.pad-content-price {
    padding: 0 10px 20px 20px;
    border-bottom: 1px solid var(--grey-border);
}

.pad-content-price:not(:first-of-type) {
    margin-top: 30px;
}

.pad-content-price p {
    padding-bottom: 15px;
}

.product-price .price-detail .price-detail-right {
    margin-left: 25px;
}


.product-price .price-detail .price-detail-right .profile-name .box-profile-name .name {
    margin-left: 18px;
}

.product-price .price-detail .price-detail-right .profile-name .box-profile-name .name p {
    padding: 9px 0;
}

.product-price .price-detail .price-detail-right .profile-name .box-profile-name .name a {
    color: var(--main-color);
    text-decoration-line: underline;
    margin-left: 9px;
}

.product-price .price-detail .price-detail-right .detail-propers .detail-container .detail-right {
    margin-left: 42px;
}

.product-price .price-detail .price-detail-right .dukungan .table-kirim .flex {
    margin-top: 10px;
}

.product-price .price-detail .price-detail-right .terkait .terkait-container p {
    padding-right: 20px;
}

.more-info {
    margin-top: 100px;
    margin-right: 45px;
}

.more-info .tabs {
    border-bottom: 2px solid #D5D5D5;
    margin-bottom: 20px;
}

.more-info .tabs ul {
    list-style-type: none;
}

.more-info .tabs ul li {
    padding-bottom: 17px;
    margin-right: 35px;
}

.more-info .tabs ul li.active {
    border-bottom: 2px solid #3065EF;
}

.more-info .tabs ul li.active a {
    color: #3065EF !important;
}

.more-info .tabs-content {
    margin-top: 50px;
}

.more-info .tabs-content .content p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
    color: #77788F;
}

.more-info .form .form-1 {
    padding-right: 45px;
    border-right: 2px solid var(--grey-border);
    padding-bottom: 20px;
}

.more-info .form .form-2 {
    width: 100%;
    margin-left: 45px;
}

.more-info .form .form-2 select {
    width: calc(100% - 30px);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 3px;
}

.more-info .ongkir {
    margin-top: 30px;
}

.more-info .ongkir .ongkir-detail .form-1 {
    padding-top: 20px;
    border-right: 2px solid var(--grey-border);
    padding-right: 45px;
}

.more-info .ongkir .ongkir-detail .form-1 span {
    border: 1px solid var(--grey-border);
}

.more-info .ongkir .ongkir-detail .form-1 span:not(:first-of-type) {
    padding: 13px 2px;
    border-radius: 3px;
}

.more-info .ongkir .ongkir-detail .form-1 span:not(:last-of-type) {
    margin-right: 15px;
}

.more-info .ongkir .ongkir-detail .form-1 .btn button {
    width: 100%;
    margin-top: 25px;
    background-color: var(--green);
    color: white;
    font-weight: 600;
    padding: 12px 0;
    border: none;
    border-radius: 3px;
}

.more-info .ongkir .ongkir-detail .form-2 {
    padding-top: 20px;
    margin-left: 45px;
}

.more-info .ongkir .ongkir-detail .form-2 h5 {
    padding: 10px 53px;
    background-color: var(--grey-fill);
    border: 1px solid var(--grey-border);
    color: var(--main-color);
    margin-right: 20px;
    border-radius: 3px;
}

.more-info .ongkir .ongkir-detail .form-2 h6 {
    padding: 10px 0;
    color: var(--green);
    font-weight: 400;
}

.more-info .feedback .title .input input {
    width: 100%;
    border: 1px solid var(--grey-border);
    border-radius: 3px;
    width: 100%;
    padding: 10px 30px;
}

.more-info .feedback .feedback-pesan {
    margin-top: 75px;
}

.more-info .feedback .pesan:not(:first-of-type) {
    margin-top: 45px;
}

.more-info .feedback .profile-pesan {
    margin-left: 18px;
    margin-top: 5px;
}

.more-info .feedback .profile-pesan .tanggal {
    color: var(--black) !important;
    margin-bottom: unset !important;
    padding: 4px 0 20px 0;

}

.more-info .feedback a {
    color: var(--main-color);
    text-decoration: underline;
    margin-left: 73px;
}

.more-info .ulasan {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--grey-border);
}

.more-info .ulasan .rating-nilai {
    padding: 10px 30px 10px 0;
    border-right: 1px solid var(--grey-border);
}

.more-info .ulasan .rating-nilai img {
    margin: 8px 0;
}

.more-info .ulasan .rating-rata {
    margin-left: 30px;
}

.more-info .ulasan .rating-rata p {
    margin-bottom: unset !important;
}

.more-info .ulasan .rating-rata img {
    margin: 0 14px 4px 4px;
}

.more-info .ulasan .rating-rata .bar {
    width: 191px;
    height: 5px;
    background: var(--grey-fill);
    margin-right: 15px;
    border-radius: 10px;
}

.more-info .ulasan .rating-rata .bar .bar-orange {
    background-color: #F7D120;
    height: 5px;
}

.more-info .ulasan .total-ulasan {
    margin-top: 55px;
}

.more-info .ulasan .total-ulasan p {
    margin-bottom: unset !important;
}

.more-info .ulasan .total-ulasan .card-filter {
    padding: 2px 16px;
    border: 2px solid var(--grey-border);
    border-radius: 3px;
    margin-left: 10px;
}

.more-info .ulasan .total-ulasan .active {
    border: 2px solid var(--green);
    background-color: var(--green);
}

.more-info .ulasan .total-ulasan .active p {
    color: white;
}

.more-info .ulasan .total-ulasan .card-filter img {
    margin-right: 4px;
}

.more-info #fragment-4 .feedback-pesan {
    margin-top: 75px;
}

.more-info #fragment-4 .pesan:not(:first-of-type) {
    margin-top: 45px;
}

.more-info #fragment-4 .profile-pesan {
    margin-left: 18px;
    margin-top: 5px;
}

.more-info #fragment-4 .profile-pesan img {
    margin-bottom: 15px;
}

.more-info #fragment-4 .profile-pesan .tanggal {
    color: var(--black) !important;
    margin-bottom: unset !important;
    padding: 4px 0 20px 0;

}

.more-info #fragment-4 a {
    color: var(--main-color);
    text-decoration: underline;
    margin-left: 73px;
}

.more-info .diskusi .title .input input {
    width: 100%;
    border: 1px solid var(--grey-border);
    border-radius: 3px;
    width: 100%;
    padding: 10px 30px;
}

.more-info .diskusi .feedback-pesan {
    margin-top: 75px;
}

.more-info .diskusi .pesan:not(:first-of-type) {
    margin-top: 45px;
}

.more-info .diskusi .profile-pesan {
    margin-left: 18px;
    margin-top: 5px;
}

.more-info .diskusi .profile-pesan .tanggal {
    color: var(--black) !important;
    margin-bottom: unset !important;
    padding: 4px 0 20px 0;

}

.more-info .diskusi .balasan{
    margin-left:75px;
    margin-top: 0 !important;
 }
 .item {
    cursor: pointer;
}
#logoo{
    cursor: pointer;
}
/* End of content */